<% layout('layouts/adminBoilerplate')%>
<section class="edit py-5">
    <div class="container">
        <nav class=""
            style="--bs-breadcrumb-divider: url(&#34;value:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);"
            aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><i class="bi bi-pencil-square"></i><a class="px-2" href="overview">Edit
                        homepage</a></li>
            </ol>
        </nav>
    </div>
    <div class="container adminPanel rounded">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <form action="editHomepage?_method=PUT" class="validated-form" method="POST"
                    enctype="multipart/form-data" novalidate>
                    <div class="mb-3 mt-3">
                        <label for="herotitle" class="form-label loginLabel">Hero Title</label>
                        <input type="text" class="form-control" name="herocaption" id="herotitle"
                            placeholder="Enter the hero caption" value="<%=data.herocaption%>">
                    </div>
                    <div class="mb-3">
                        <label for="spantext" class="form-label loginLabel">Span Text</label>
                        <input type="text" class="form-control" name="spantext" id="spantext"
                            placeholder="Enter the span text" value="<%=data.spantext%>">
                    </div>
                    <div class="mb-3">
                        <label for="heroImage" class="form-label">Hero Image</label>
                        <input class="form-control" name="heroImage" type="file" id="heroImage">
                    </div>
                    <div class="mb-3">
                        <label for="fbLinK" class="form-label loginLabel">Facebook Link</label>
                        <input type="text" class="form-control" name="fblink" id="fbLink"
                            placeholder="Enter the Facebook Link" value="<%=data.fblink%>">
                    </div>
                    <div class="mb-3">
                        <label for="twtLinK" class="form-label loginLabel">Twitter Link</label>
                        <input type="text" class="form-control" name="twitterlink" id="twtLink"
                            placeholder="Enter the Twitter Link" value="<%=data.twitterlink%>">
                    </div>
                    <div class="mb-3">
                        <label for="igLinK" class="form-label loginLabel">Instagram Link</label>
                        <input type="text" class="form-control" name="instagramlink" id="igLink"
                            placeholder="Enter the Instagram Link" value="<%=data.instagramlink%>">
                    </div>
                    <div class="mb-3">
                        <label for="copyright" class="form-label loginLabel">Copyright</label>
                        <input type="text" class="form-control" name="copyright" id="copyright"
                            placeholder="Enter the Copyright" value="<%=data.copyright%>">
                    </div>

                    <div class="d-grid gap-2 col-6 mb-5 mx-auto">
                        <button class="btn btn-primary" type="submit" id="login">Save</button>
                        <a href="overview" class="btn btn-primary" type="submit" id="cancel">Cancel</a>
                    </div>

                </form>



            </div>
        </div>

    </div>



</section>